<p> table of all the quizzes the user has received</p> <br>

<table *ngIf="challenges" border = "2px">
    <tr>
        <th>Topic</th><th>User 1</th><th>Accept</th>
    </tr>
    <tr *ngFor="let chall of challenges">
        <td>{{chall.quiz.questions[0].topic.topicName}}</td>
        <td>{{chall.users[0].firstName + " " + chall.users[0].lastName}}</td>
        <td><button [routerLink]="['/', CHALLENGE_BASE_URL, chall.id]" class="btn btn-large btn-primary">Accept</button></td>
    </tr>
</table>




