# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# .git/info/exclude

**/pull_request_template.md
**/issue_template.md
**/target/
**/bin/
**/META-INF/**

#IDES
**/out/

#testng
**/test-output/


#Eclipse
**/.metadata
**/.project
**/.settings/
**/.classpath
**/.recommenders/**
**/Servers/
**/.springBeans

#Maven
**/target/**

#IDEA
**/.idea/
**/*.iml

#AngularJS
**/.tern-project

#Visual Studio
**/.vs/


#Mac
.DS_Store
**/.recommenders/

**/RemoteSystemsTempFiles/



# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp
**/out-tsc

# dependencies
**/node_modules

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/testem.log
**/typings

# e2e
**/e2e/*.js
**/e2e/*.map

# System Files
**/Thumbs.db
