<form class="form form-horizontal">

    <ul *ngIf="attempt">
        <li *ngFor="let question of attempt.challenge.quiz.questions">

            <div class="form-group">
                <div class="col-sm-7">
                    <p>{{question.text}}</p>
                </div>
            </div>

            <div *ngFor="let option of question.options" class="form-group">
                <div class="nopadding">
                    <div class="col-sm-12" (click)="selectOption(option, question)">
                        <label class="col-sm-1 text-center" for="qOption">
                            <input type="radio" [checked]="option.isCorrect" (click)="selectOption(option, question)"/>
                        </label>
                        <p class="col-sm-7 nopadding" id="qOption">
                            {{option.text}}
                        </p>

                    </div>
                </div>
            </div>

        </li>
    </ul>

    <div class="form-group">
        <button type="button" class="btn btn-primary btn-block">
            Submit Quiz
        </button>
    </div>

</form>
