<form class="form form-horizontal">

    <ul *ngIf="attempt">

        <div class="form-group">
            <div class="col-sm-7">
                <p class="question-text">Points: {{correct}} of {{total}}</p>
            </div>
        </div>

        <li class="question" *ngFor="let question of attempt.challenge.quiz.questions">

            <div class="form-group">
                <div class="col-sm-7">
                    <p class="question-text">{{question.text}} {{question.difficulty.multiplier * question.type.baseVal}}pts.</p>
                </div>
            </div>

            <div *ngFor="let option of question.options" class="form-group">
                <div class="nopadding">
                    <div class="col-sm-12">
                        <label class="col-sm-1 text-center nopadding nomargin" for="qOption">
                            <input type="radio" [checked]="option['wasPicked']" [disabled]="true" />
                        </label>
                        <p class="col-sm-7 question-option" id="qOption" [ngStyle]='{background: getOptionColor(option)}'>
                            {{option.text}}
                        </p>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-7">
                    <p>{{question.explanation}}</p>
                </div>
            </div>
        </li>
    </ul>

    <div class="form-group">
        <a routerLink="/view-challenges" class="btn btn-warning col-sm-offset-1 col-sm-7">
            Finish Review
        </a>
    </div>

</form>