
<form [formGroup]="userForm" id="UserForm" (ngSubmit)="OnSubmit(userForm.value)">
  
  <div class="form-group">
    <label for="Certification">Certifications to be uploaded:</label><br>
    <input type="checkbox" name="certification" value="oca">Oracle Certified Associate (OCA)<br>
	<input type="checkbox" name="certification" value="ocp">Oracle Certified Professional (OCP)<br> 
	<input type="checkbox" name="certification" value="ocm">Oracle Certified Master (OCM)<br>
  </div>
  <div class="form-group">
    <label for="exampleFileUpload1">User File</label>
    <input type="file" class="form-control" id="image" #UserImage formControlName="UserImage">
  </div>
  <button type="submit" class="btn btn-primary" (click)="OnSubmit()">Submit</button>
  
</form>
