<p>
  Notifications:
</p>

<table border = "2px">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Time</th>
        <th>Sender</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let note of notes" >
        <td>{{note.title}}</td>
        <td>{{note.contents}}</td>
        <td>{{note.time.year}} {{note.time.month}} {{note.time.dayOfMonth}}
            {{note.time.hour}}:{{note.time.minute}}:{{note.time.second}}
        </td>
		<td>{{note.senderId}}</td>
		<td>{{note.status.name}}</td>
    </tr>
</table>
