<h1>Leaderboard</h1>
<br>
<select style="width: 20%; height: 5%" #selectTopic>
    <option *ngFor="let t of topics" [ngValue]="t">
        {{t.topicName}}
    </option>
</select>
<button (click) = "submit(selectTopic.value)">submit</button> 
<table border="2px">
    <tr>
        <th>Topic</th>
        <th>User</th>
        <th>Rank</th>
    </tr>
    <tr *ngFor="let u of users">
        <td>{{selectedTopic}}</td>
        <td>{{u.firstName}} {{u.middleName}} {{u.lastName}}</td>
        <td>{{u.ranks[0].rankName}}</td>
    </tr>
</table>