.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.options-form-group {
    margin-bottom: 0;
}

.option-control-wide {
    display: flex;
}

.option-control-wide > label {
    border-radius: 5px 0 0 5px;
}

.option-control-text {
    flex-grow: 1;
    border: 1px solid #dce4ec;

    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
}

form {
    margin: 50px 0px;
}

.option-control-text {
    height: calc(2.15625rem + 2px);
    padding: 6px;
}

.trash-button {
    border-radius: 0;
    height: 34px;
}

label {
    margin: 0px;
    font-size: 12pt;
    font-weight: 600;
    height: 34px;
}

span > .fa-trash, input[type="radio"] {
    transform: scale(1.7);
}

#newOption {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
