<nav class="navbar navbar-inverse">
    <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">RevLearners</a>
          </div>
          <ul class="nav navbar-nav">

            <!-- (if user is not logged in) -->
            <li class="dropdown"> <!-- *ngIf="role.id==0" -->
           		<button class="dropbtn">Not logged-in</button>
           		<div class="dropdown-content">
           			<a routerLink="/create-account">Create Account</a>
        		    <a routerLink="/login">Login</a>
           		</div>
            </li>
                        
            <!-- "Basic Account" -->
            <li class="dropdown"> <!-- *ngIf="role.id==1" -->
           		<button class="dropbtn">Basic Options</button>
           		<div class="dropdown-content">
           			<a routerLink="/view-challenges">View Challenges</a>
           			<a routerLink="/create-challenge">Create A Challenge</a>
           			<a routerLink="/leaderboard">Leaderboard</a>
           			<a routerLink="/submit-certification">Submit Certification</a>
           		</div>
            </li>
            
            <!-- "Advanced Account" -->
            <li class="dropdown"> <!-- *ngIf="role.id==2" -->
           		<button class="dropbtn">Advanced Options</button>
           		<div class="dropdown-content">
           			<a routerLink="/view-challenges">View Challenges</a>
           			<a routerLink="/create-challenge">Create A Challenge</a>
           			<a routerLink="/leaderboard">Leaderboard</a>
           			<a routerLink="/submit-certification">Submit Certification</a>
           			<a routerLink="/new-question">Create Questions</a>
           		</div>
            </li>
            
            <!-- "Advanced Account(Certified)" -->
            <li class="dropdown"> <!-- *ngIf="role.id==3" -->
           		<button class="dropbtn">Certified Options</button>
           		<div class="dropdown-content">
           			<a routerLink="/view-challenges">View Challenges</a>
           			<a routerLink="/create-challenge">Create A Challenge</a>
           			<a routerLink="/leaderboard">Leaderboard</a>
           			<a routerLink="/submit-certification">Submit Certification</a>
           			<a routerLink="/new-question">Create Questions</a>
           		</div>
            </li>
            
            <!-- "Administrator Account" -->
            <li class="dropdown"> <!-- *ngIf="role.id==4" -->
           		<button class="dropbtn">Admin Options</button>
           		<div class="dropdown-content">
           			<a routerLink="/approve-certifications">Approve Certifications</a>
           		</div>
            </li>
         </ul>
         
         
         <!-- (if user is logged in) -->
         <ul class="nav navbar-nav navbar-right"> <!-- *ngIf="role.id!=0" -->
            <li class="dropdown">
				<button class="dropbtn"><span class="glyphicon glyphicon-user"></span></button>
	           		<div class="dropdown-content">
						<a routerLink="/profile">Profile</a>
						<button class="btn"  routerLink="/home" (click)="logout()">
							Logout
						</button>
					</div>
			</li> 
			<li><a routerLink="/messages">
					<span class="glyphicon glyphicon-envelope"></span>
					<span class="badge" *ngIf="messageCount != 0">
						{{messageCount}}
					</span>
				</a>
			</li>
			<li><a routerLink="/notifications">
					<span class="glyphicon glyphicon-bell"></span>
					<span class="badge" *ngIf="notificationCount != 0">
						{{notificationCount}}
					</span>
				</a>
			</li>        
        </ul>
        
    </div>
</nav>