@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body{
    background-color: #e8e8e8;
    font-family: 'Muli';
}

label{
    font-size: 1em;
}

input{
    font-size: 1em;
}

.form-container{
    display: block;
    width: 90%;
    padding: 2em;
    margin: 2em auto;
    background: #fff;
}

.alert{
    background: #f2edda;
    padding: 7px;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.button {
    margin-top: 3rem;
}

h1 {
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Muli';
    font-size: 2em;
}

@keyframes alertAnim{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}