<p>
  Messages:
</p>

<table border = "2px">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Time</th>
        <th>Sender</th>
        <th>Status</th>
        <th>Attachment</th>
    </tr>
    <tr *ngFor="let msg of msgs">
        <td>{{msg.title}}</td>
        <td>{{msg.contents}}</td>
        <td>{{msg.time.year}} {{msg.time.month}} {{msg.time.dayOfMonth}}
            {{msg.time.hour}}:{{msg.time.minute}}:{{msg.time.second}}
        </td>
		<td>{{msg.senderId}}</td>
		<td>{{msg.status.name}}</td>
		<td>{{msg.attachment}}</td>
    </tr>
</table>

<h3>New Message:</h3>
<h5>To:</h5>
<textarea rows="1" cols="10"></textarea> 
<h5>Title:</h5>
<textarea rows="1" cols="10"></textarea> 
<h5>Body:</h5>
<textarea rows="4" cols="50">
</textarea> 
<button class="btn">Submit</button>

