<div *ngIf="usernameTaken">
    <div class="alert-danger row columns">
        <h3>Sorry, but that username has been taken already. Please use a different username.</h3>
    </div>
</div>

<div *ngIf="!userCreated; else submitsuccess">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div class="form-container">
            <div class="row columns">
                <h1>Creating an account!</h1>

                <label for="fname">First Name</label>
                <input class="form-control"  id="fname" type="text" formControlName="fname">
                <br>
                <div class="alert" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">
                    {{titleAlert}}
                </div>
                <br>

                <label for="mname">Middle Name</label>
                <input class="form-control"  id="mname" type="text" formControlName="mname">
                <br>

                <label for="lname">Last Name</label>
                <input class="form-control"  id="lname" type="text" formControlName="lname">
                <br>
                <div class="alert" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">
                    {{titleAlert}}
                </div>
                <br>

                <label for="email" >Email</label>
                <input class="form-control"  id="email" type="email" formControlName="email">
                <br>
                <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
                    You need an email man. Everyone has an email, you have one right? Otherwise, how are we sending you
                    a confirmation that your
                    account is created? Come on man.
                </div>

                <br>

                <label for="username">Username</label>
                <input class="form-control"  id="username" type="text" formControlName="username">
                <br>
                <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">
                    {{titleAlert}}
                </div>
                <br>

                <label for="password">Password</label>
                <input class="form-control"  id="password" type="password" formControlName="password">
                <br>
                <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
                    Yo, enter a password so we can protect your account bruh.
                </div>

                <br>

                <label for="confirm-password">Confirm Password</label>
                <input class="form-control"  id="confirm-password" type="password" formControlName="password2">
                <br>
                <div class="alert" *ngIf="!rForm.controls['password2'].valid && rForm.controls['password2'].touched">
                    C'mon now bruh, confirm your password so you don't make a mistake.
                </div>
                <br>

                <input class="form-control"  type="submit" class="button expanded" value="Create Account" [disabled]="!rForm.valid">
            </div>
        </div>
    </form>
</div>

<ng-template #submitsuccess>
    <div class="form-container">
        <div class="row columns">
            <h1>Welcome {{fname}}! Your account has been created.</h1>
            <h3>Please verify your account using the link from email we just sent you!</h3>
            <a class="btn btn-primary" routerLink="/home">Home</a>
        </div>
    </div>
</ng-template>
