<div *ngIf="!fname; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Creating an account!</h1>

        <label>First Name
          <input type="text" formControlName="fname">
        </label>
        <br>
        <div class="alert" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">
          {{titleAlert}}
        </div>
        <br>

        <label>Middle Name
          <input type="text" formControlName="mname">
        </label>
        <br>

        <label>Last Name
          <input type="text" formControlName="lname">
        </label>
        <br>
        <div class="alert" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">
          {{titleAlert}}
        </div>
        <br>

        <label>Email
          <input type="email" formControlName="email">
        </label>
        <br>
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
          You need an email man. Everyone has an email, you have one right? Otherwise, how are we sending you a confirmation that your
          account is created? Come on man.
        </div>

        <br>

        <label>Username
          <input type="text" formControlName="username">
        </label>
        <br>
        <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">
          {{titleAlert}}
        </div>
        <br>

        <label>Password
          <input type="password" formControlName="password">
        </label>
        <br>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          Yo, enter a password so we can protect your account bruh.
        </div>

        <br>

        <label>Confirm Password
          <input type="password" formControlName="password2">
        </label>
        <br>
        <div class="alert" *ngIf="!rForm.controls['password2'].valid && rForm.controls['password2'].touched">
          C'mon now bruh, confirm your password so you don't make a mistake.
        </div>
        <br>

        <!-- Just testing file upload. Ignore this for now.
          <input #fileInput type="file"/>
          <button (click)="addFile()">Add</button>
          -->

        <input type="submit" class="button expanded" value="Create Account" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div *ngIf="!usernameTaken; else registerFail">
    <div class="form-container">
      <div class="row columns">
        <h1>Welcome {{fname}}! Your account has been created.</h1>
        <h3>Your password is "{{password}}" and when you confirmed it, you typed in "{{password2}}".</h3>
      </div>
    </div>
  </div>
  <ng-template #registerFail>
    <div class="form-container">
      <div class="row columns">
        <h1>Sorry, but that username has been taken already. Please use a different username.</h1>
        <button class="button" type="button" (click)="resetForm()">Go Back</button>
      </div>
    </div>
  </ng-template>

</ng-template>